@if(!isLoading) {
    <!-- Product name -->
    <div class="relative w-full overflow-hidden">
        <div class="absolute top-1/2 -translate-y-1/2 left-4 text-2xl sm:text-5xl font-bold text-orange-dark opacity-50 pointer-events-none h-12 whitespace-nowrap font-AeroFlux">{{product!.name}}</div>
        <h1 class="relative text-xl sm:text-4xl text-center lg:text-left font-bold text-foreground mb-4 font-Raitor">{{product!.name}}</h1>
    </div>
    <!-- Card Body -->
    <div class="relative flex flex-col lg:flex-row bg-card-secondary text-card-foreground w-fit xl:w-full mx-auto bg-details-card bg-cover bg-blend-overlay p-4 gap-4 rounded-2xl overflow-hidden font-sans before:border-gradient-green before:absolute before:top-0 before:left-0 before:w-full before:h-full before:pointer-events-none">
        <!-- Image Selector area-->
        <div class="w-11/12 self-center lg:self-start md:w-[500px] flex flex-col items-center gap-6">
            <!-- Decorative text -->
            <div class="absolute left-3 w-11 h-[250px] sm:h-[500px] leading-10 text-2xl text-orange text-vertical break-all pointer-events-none overflow-hidden font-AeroFlux">{{product!.name}}</div>
            <!-- Image -->
            <div class="relative flex justify-center w-3/4 h-[250px] sm:h-[500px] mx-auto">
                <ui-image class="flex justify-center" [src]="displayedImgSrc"></ui-image>
            </div>
            <!-- Slider & buttons -->
            <div class="flex justify-around w-full">
                <button class="h-[120px] px-1 rounded-md border-2 border-white" (click)="setDisplayedImage('-')"><ng-icon name="featherArrowLeft"/></button>
                <ui-slider 
                    [activeItem]="selectedImageIndex - 1" 
                    [itemsPerView]="3" 
                    [itemsPerMobileView]="1"
                    [shouldCenterItems]="images.length < 3" 
                    class="w-3/4 max-w-48 sm:max-w-96"
                >
                @for(img of images; track img; let i = $index) {
                    <button class="keen-slider__slide flex justify-center" (click)="setDisplayedImage(i + 1)"><img class="h-[120px] rounded-md" [src]="img" alt=""></button>
                }
                </ui-slider>
                <button class="h-[120px] px-1 rounded-md border-2 border-white" (click)="setDisplayedImage('+')"><ng-icon name="featherArrowRight"/></button>
            </div>
        </div>
        <!-- Text Body -->
        <div class="flex flex-col text-justify w-full lg:w-[380px] xl:w-auto xl:flex-1">
            <div class="flex flex-col xl:flex-row items-center justify-between gap-8">
                <div class="flex justify-center self-start gap-2 sm:gap-8 w-full xl:w-1/2 py-4">
                    <!-- Discount Badge -->
                     @if(product!.discount > 0) {
                        <div class="flex justify-center items-center self-center h-24 w-24 sm:h-28 sm:w-28 lg:h-24 lg:w-24 text-leading font-Raitor text-sm bg-[url(./assets/box.png)] bg-cover shrink-0">
                            -{{discountPercent}}%
                        </div>
                     }
                    <!-- Former Price -->
                    <div class="flex flex-col items-center lg:items-start justify-center gap-4">
                        @if(product!.discount > 0) {
                            <h4 class="relative text-base sm:text-xl font-bold after:absolute after:top-[40%] after:left-0 after:w-full after:h-1 after:bg-card-foreground font-Raitor">
                                {{formatCurrency(product!.price)}}
                            </h4>
                        }
                        <!-- Current Price -->
                        <h2 class="text-xl sm:text-4xl font-bold font-Raitor" [ngClass]="{'text-leading': product!.discount > 0}">
                            {{formatCurrency(currentPrice)}}
                        </h2>
                        <!-- Categories -->
                        <div class="flex justify-center gap-4 lg:justify-between w-full font-bold">
                            <span>categories:</span>
                            <span class="max-w-52 text-right">{{product!.categories?.join(', ') || 'uncategorized'}}</span>
                        </div>
                    </div>
                </div>
                <!-- Paypal Buttons -->
                <div class="w-full lg:w-[380px] pt-8 xl:pt-0 xl:pl-20 flex flex-col items-start justify-center border-t xl:border-t-0 xl:border-l border-leading">
                    <ui-paypal-button
                        class="w-full mt-4" 
                        [ngClass]="{'pointer-events-none brightness-50': ispurchaseLoading}"
                        [id]="product?.id || ''" 
                        (onApproved)="ispurchaseLoading = true"
                        (onSuccess)="buyProduct($event)"
                        (onFailure)="handlePaypalError()">
                    </ui-paypal-button>
                    @if(ispurchaseLoading) {
                        <div class="text-leading">Just a moment please, we're finalizing the purchase on our server...</div>
                    }
                </div>
            </div>
            <!-- Paypal hint -->
            <button class="ui-button self-end !text-xs" variant="secondary" (click)="isHintOpen = !isHintOpen">What is this?</button>
            @if(isHintOpen) {
                <div class="border rounded-md mt-4 p-4 w-full text-xs">
                    <p>Don't worry, I left Paypal on Developer Sandbox mode. If you click on the Debit or Credit Card button and enter the following fields you should be able to make a 'purchase' without real money:</p>
                    <p>card number: 4355808488449488</p>
                    <p>expiration date: 12/2029</p>
                    <p>CSC: any 3 digits</p>
                    <p>everything else: arbitrary, as long it doesn't complain about the format like numbers in your name or text in your phone number.</p>
                    <p>(Your email address should be real though, we will send a real email to it.)</p>
                </div>
            }
            <!-- Description -->
            <div class="description rounded-2xl bg-background/50 max-h-[492px] sm:h-[492px] overflow-auto mt-6 px-4">
                <div [innerHTML]="product?.description || ''"></div>
            </div>
        </div>
    </div>
}
@else {
    <!-- Loading Skeleton -->
    <div class="relative w-full overflow-hidden">
        <h1 class="relative text-xl sm:text-4xl text-center lg:text-left font-bold text-foreground mb-4 font-Raitor">
            <div class="w-1/2 h-7 rounded-full bg-gray-300 animate-pulse"></div>
        </h1>
    </div>
    <div class="relative flex flex-col lg:flex-row bg-card-secondary text-card-foreground xl:w-full mx-auto bg-details-card bg-cover bg-blend-overlay p-4 gap-4 rounded-2xl overflow-hidden font-sans before:border-gradient-green before:absolute before:top-0 before:left-0 before:w-full before:h-full before:pointer-events-none">
        <div class="w-full self-start md:w-[500px] flex flex-col items-center gap-6">
            <div class="relative flex justify-center w-3/4 h-[250px] sm:h-[500px] mx-auto">
                <div class="rounded-md w-full h-full bg-gray-300 animate-pulse"></div>
            </div>
            <div class="flex justify-around w-full">
                <button class="h-[120px] px-1 rounded-md border-2 border-white"><ng-icon name="featherArrowLeft"/></button>
                <div class="ml-8 w-[100px] h-[120px] rounded-md bg-gray-300 animate-pulse"></div>
                <div class="mx-8 w-[100px] h-[120px] rounded-md bg-gray-300 animate-pulse"></div>
                <div class="mr-8 w-[100px] h-[120px] rounded-md bg-gray-300 animate-pulse"></div>
                <button class="h-[120px] px-1 rounded-md border-2 border-white"><ng-icon name="featherArrowRight"/></button>
            </div>
        </div>
        <div class="flex flex-col text-justify w-full lg:w-[380px] xl:w-auto xl:flex-1">
            <div class="flex flex-col xl:flex-row items-center justify-between gap-8 px-4">
                <div class="flex justify-center self-start gap-2 sm:gap-8 w-full xl:w-1/2 py-4">
                    <div class="flex flex-col items-center w-full justify-center gap-4">
                        <span class="w-3/4 h-4 rounded-full bg-gray-300 animate-pulse"></span>
                        <span class="w-3/4 h-4 rounded-full bg-gray-300 animate-pulse"></span>
                    </div>
                </div>
                <div class="w-full lg:w-[380px] pt-8 xl:pt-0 xl:pl-20 flex flex-col gap-4 items-start justify-center border-t xl:border-t-0 xl:border-l border-leading">
                    <span class="w-full h-8 rounded-md bg-gray-300 animate-pulse"></span>
                    <span class="w-full h-8 rounded-md bg-gray-300 animate-pulse"></span>
                </div>
            </div>
            <div class="description rounded-2xl bg-background/50 max-h-[492px] sm:h-[492px] overflow-auto mt-6 px-4">
                <div class="flex flex-col gap-4">
                    <div class="w-full h-4 rounded-full bg-gray-300 animate-pulse" ></div>
                    <div class="w-full h-4 rounded-full bg-gray-300 animate-pulse" ></div>
                    <div class="w-full h-4 rounded-full bg-gray-300 animate-pulse" ></div>
                    <div class="w-full h-4 rounded-full bg-gray-300 animate-pulse" ></div>
                    <div class="w-full h-4 rounded-full bg-gray-300 animate-pulse" ></div>
                    <div class="w-full h-4 rounded-full bg-gray-300 animate-pulse" ></div>
                    <div class="w-full h-4 rounded-full bg-gray-300 animate-pulse" ></div>
                    <div class="w-full h-4 rounded-full bg-gray-300 animate-pulse" ></div>
                </div>
            </div>
        </div>
    </div>
}