<ui-section-head>{{plural(category) ?? "Our catalog"}}</ui-section-head>
<div class="relative grid grid-cols-2 [@media(min-width:580px)_and_(max-width:639px)]:grid-cols-3 md:grid-cols-3 xl:grid-cols-4 gap-x-4 gap-y-10 pt-4 pb-8 min-h-screen">
  <div class="absolute -left-8 -top-8 w-[calc(100%+4rem)] h-full min-h-[635px] bg-product-grid bg-repeat-y bg-contain brightness-50"></div>
  <ng-container *ngIf="!isLoading && !hasError; else ErrorOrLoading">
    <ng-container *ngFor="let product of activeProducts.value;index as i">
      <ui-product-card [product]="product" [animDelay]="i * 100" class="drop-shadow-green-dark"></ui-product-card>
    </ng-container>
  </ng-container>
</div>
<!-- Paginator -->
<div *ngIf="pages.length > 1" class="w-full flex justify-center gap-8">
  <ui-nav-button button [disabled]="!hasPrev" [href]="currentUrl" [queryParams]="{'page': page - 1}">Prev</ui-nav-button>
  <ui-nav-button *ngFor="let pageNum of pages" 
    class="select-none hover:underline"
    [ngClass]="{'text-leading hover:no-underline': pageNum === page}"
    [disabled]="pageNum === page" 
    [href]="currentUrl" 
    [queryParams]="{'page': pageNum}">{{pageNum + 1}}</ui-nav-button>
  <ui-nav-button button [disabled]="!hasNext" [href]="currentUrl" [queryParams]="{'page': page + 1}">Next</ui-nav-button>
</div>

<ng-template #ErrorOrLoading>
  <ng-container *ngIf="isLoading">
     <div class="h-screen col-span-4 flex justify-center items-center">
      <ui-spinner />
    </div>
  </ng-container>
  <ng-container *ngIf="hasError">
    <div class="flex justify-center text-3xl">Our servers are down at the moment, please check back at a later time</div>
  </ng-container>
</ng-template>